.skillList__container {
background-color: var(--primary);
padding: 14px 14px;
/* max-width: 400px; */
width: max-content;
margin: auto;
border-radius: 20px;
}

.skillList__container p {
    /* border: 2px solid aqua; */
}
.skillList__container ul {
    padding: 0;
    margin-top: 24px;
}
.skillList__container li {
    list-style-type: none;
    /* border: 2px solid red; */
}
.skillList__container span {
    margin-right: 30px;
    /* border: 2px solid lime; */
}