/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --wall: #f1f1f1;
  --feature: #fff;
  --text: #333;

  -webkit-text-size-adjust:none;

  /* --primary: #04c153;
  --error: #a30404;
  --wall: #f9e6e6;
  --feature: #fcebac;
  --text: #333; */
}
* {
  box-sizing: border-box;
}
body {
  background: var(--wall);
  margin: 0;
  font-family: "Poppins";
}

/* Navbar */
header {
  background: var(--feature)
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--text);
  text-decoration: none;
}
nav span {
  margin-right: 10px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links p {
  margin: 0 10px;
}
.nav-button {
  background: var(--feature);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}
.login-links {
  width: 130px;
  display: flex;
  justify-content: space-around;
}

/* Main display */
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* entry page */
.entry-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
}
.entry-details {
  background: var(--feature);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.entry-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
  max-width: 88%;
}
.entry-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.entry-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--wall);
  padding: 6px;
  border-radius: 50%;
  color: var(--text);
}

/* applies to most forms */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-button {
  background: var(--primary);
  border: 0;
  color: var(--feature);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  max-width: 200px;
  display: block;
  margin: 20px auto;
}
input.error {
  border: 1px solid var(--error);
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: var(--feature);
  border-radius: 4px;
}

/*bingo page */
.create-bingo {
  text-align: center;
}
.title {
  width: 200px;
  display: block;
  margin: 20px auto;
}
.bingo-title {
  position: relative;
}
.bingo-title span {
  vertical-align: -4px;
  margin-left: 10px;
}
.bingo-title span:hover {
  border: 2px solid var(--primary);
  border-radius: 100%;
  cursor: pointer;
}
.bingo-buttons {
  display: flex;
  justify-content: center;
}
.bingo-buttons button {
  margin: 0 10px;
}
.bingo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0;
  /* border: 2px solid lime; */
  justify-content: center;
  justify-self: center;
  background: var(--feature);
  box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
  width: 750px;
  height: 750px;
  margin: 0 auto;
  border: 1px solid black;
}
.bingo-cell {
  border: 1px solid var(--text);
  height: 150px;
  width: 150px;
  text-align: center;
  justify-self: center;
}
.bingo-cell h4 {
  margin: 2px;
}
.hide {
  display: none;
}

@media screen and (max-width: 956px) {
  .entry-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 786px) {
  .bingo {
    height: 400px;
    width: 400px;
  }
  .bingo-cell {
    height: 80px;
    width: 80px;
    font-size: .48rem;
  }
  nav span {
    font-size: .8rem;
    margin-right: 0px;
  }
  nav {
    text-align: end;
  }
}
@media screen and (max-width: 424px) {
  .bingo {
    height: 250px;
    width: 250px;
  }
  .bingo-cell {
    height: 50px;
    width: 50px;
    font-size: .3rem;
  }
  nav span {
    font-size: .5rem;
  }
  .nav-button {
    margin-right: 0px;
  }
}